@width: 80%;

// CONSTRUCTORS

@wraper: ~".wrapper, .project h2, .subtitle";
@{wraper} {
  margin: auto;
  width: @width;
  max-width: 1440px;
}
.project {
  margin: auto;
  width: 100%;
  margin-bottom: 120px;
}
.intro {
  margin: auto;
  width: @width;
  margin-bottom: 120px;
}

@elmts: ~"h2,.full";
@{elmts} {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
  text-align: center;
}

.big-left{
  position: relative;
  display: block;
  float:left;
  width: ~"calc(66.66% - 25px)";
  margin: auto;
}
.lil-right{
  position: relative;
  display: block;
  float:right;
  width: ~"calc(33.33%)";
  margin: auto;
}
.big-right{
  position: relative;
  display: block;
  float:right;
  width: ~"calc(66.66% - 25px)";
  margin: auto;
}
.lil-left{
  position: relative;
  display: block;
  float:left;
  width: ~"calc(33.33%)";
  margin: auto;
}


.transition(@transition) {
  -webkit-transition: @transition;
  -moz-transition: @transition;
  -o-transition: @transition;
  transition: @transition;
}
@keyframes disapear {
    from {opacity: 1;}
    to {opacity: 0;}
}
.over{
  position: absolute;
    top: 0;
    opacity: 1;
    animation-name: disapear;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

body{
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}
