@width: 80%;
@article-margin: 50px;

// CONSTRUCTORS

@wrapper: ~".wrapper, .header";
@{wrapper} {
  clear: both;
  margin: auto;
  width: @width;
  max-width: 1440px;
}
.flex-wrap{
  display: flex;
  justify-content: space-between;
}
.flex{
  position: relative;
  flex-basis:0;
  flex-grow:1;
  flex-shrink:1;
  margin: 5px;
}
.subtitle{
  margin: auto;
  width: @width/1.5;
  max-width: 1000px;
}
.article{
  display: inline-block;
}
.project {
  margin: auto;
  width: 100%;
  margin-top: 250px;
  margin-bottom: 550px;
}
.intro {
  z-index: 10;
  margin: auto;
  width: @width;
  // margin-bottom: 120px;
}
.header{
  position: fixed;
}
.introwrap{
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.aboutWrapper{
  width: @width;
  margin: auto;
	position: flex;
  display: flex;
  flex-wrap: wrap;
  transition: all .5s ease;
}
.wrapperInfos{
  width: @width;
  margin: auto;
	position: flex;
  display: flex;
  flex-wrap: wrap;
  transition: all .5s ease;
}
@thisAndThat: ~".this, .that";
@{thisAndThat} {
  opacity: 1;
  background-color: transparent;
  display: none;
  position: absolute;
  top: 0;
  width: 100vw;
  padding-top: 100vh;
  transition: all .5s ease;
  z-index: -10;
}
@keyframes this {
    from {left: -100vw;}
    to {left: 0;}
}
@keyframes switchThis {
    from {left: 0;}
    to {left: -100vw;}
}
@keyframes that {
    from {left: 0;}
    to {left: 100vw;}
}
@keyframes switchThat {
    from {left: 100vw;}
    to {left: 0;}
}

.this {
  left: 0;
}
.that {
  left: 100vw;
}
.switchThis {
  left: -100vw;
}
.switchThat {
  left: 0;
}
.crazyShit{
  opacity: 0;
  position: absolute;
  z-index: -1;
}
.intoImagesWrap{
  opacity: 0.5;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -25;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  // background-color: yellow;
}
.intoImages{
  position: absolute;
  display: flex;
}
@elmts: ~".full";
@{elmts} {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
  text-align: center;
}

.big-left{
  position: relative;
  display: block;
  float:left;
  width: ~"calc(66.66% - 50px)";
  margin: auto;
}
.lil-right{
  position: relative;
  display: block;
  float:right;
  width: ~"calc(33.33%)";
  margin: auto;
}
.big-right{
  position: relative;
  display: block;
  float:right;
  width: ~"calc(66.66% - 50px)";
  margin: auto;
}
.lil-left{
  position: relative;
  display: block;
  float:left;
  width: ~"calc(33.33%)";
  margin: auto;
}


.transition(@transition) {
  -webkit-transition: @transition;
  -moz-transition: @transition;
  -o-transition: @transition;
  transition: @transition;
}
body{
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.flex-six{
  position: relative;
  display: flex;
  height: 35vw;
  top: 5vw;
}
.flex-six > div{
  display: flex;
  width: 16.67%;
  margin: auto;
  justify-content: center;
}
