@font-face {
    font-family: "LarishNeueSemibold-Regular";
    src: url(../fonts/LarishNeueSemibold-Regular.otf);
}
@font-face {
    font-family: "GothamBook";
    src: url(../fonts/GothamBook.otf);
}
