@media (max-width: 600px){

  h1{
    font-size: 2em;
    margin-bottom: 30px;
  }
  .wrapper {
    width: 90vw;
  }
  .big-left{
    width: 90vw;
  }
  .lil-right{
    width: 90vw;
  }
  .big-right{
    width: 90vw;
  }
  .lil-left{
    width: 90vw;
  }
  p{
    font-size: 1em;
  }
  h4{
    font-size: 1.4em;
  }
  h2{
    font-size: 1.6em;
  }
  .subtitle{
    width: 90vw;
  }
  .mouse-circle {
  	width: 108vh;
  	height: 108vh;
  }
  .button{
    padding: 15px;
  }

}
