.mobile{
  margin: 10px;
  padding: 10px;
  line-height: 3em;
  background-color: #aaa;
  color: black;
  position: relative;
  display: inline-block;
  height: calc(100vh - 40px);
  background-color: grey;
}
a{
  color: #04b;
}

*{
  margin: 0;
  padding: 0;
}
body {
  background: #aaa;
}
