.mobile{
  background-color: #aaa;
  color: black;
  position: relative;
  display: inline-block;
  width: 100vw;
  height: 800vh;
}

*{
  margin: 0;
  padding: 0;
}
body {
  background: #aaa;
}
canvas {
  position: relative;
  left: 0;
  top: 0;
  right: 0;
  height: 100vh;
  display: block;
}
