@font-face {
    font-family: "LarishNeueSemibold-Regular";
    src: url(../fonts/LarishNeueSemibold-Regular.otf);
}
@font-face {
    font-family: "GothamBook";
    src: url(../fonts/GothamBook.otf);
}

// @color1: #eeeeee;
// @color2: #666666;

// Intro color transition
@colorTransition: ~"h1,h3,h2,p,.heading";
@{colorTransition} {
  transition: all .5s ease;
}

// COLORS
// @color1: ~"h1,h2,a:hover,.heading";
// @{color1} {
//   font-weight: normal;
//   color: #eeeeee;
// }
// @color2: ~"a, h3, h4";
// @{color2} {
//   color: #666666;
//   border-color: #666666
// }
// @color3: ~"p";
// @{color3} {
//   color: #666666;
// }
// @BGcolor: ~".this, body";
// @{BGcolor} {
//   background-color: #17171b;
// }
@color1: ~"h1,h2,h4,a:hover,.heading";
@{color1} {
  font-weight: normal;
  // color: #fff;
}
@colorHover: ~"a:hover";
@{colorHover} {
  color: #ffb;
}
@color2: ~"a, h3";
@{color2} {
  color: #04b;
  border-color: #04b;
}
@color3: ~"p";
@{color3} {
  // color: #fff;
}
@BGcolor: ~".this, body";
@{BGcolor} {
  background-color: #aaa;
}

@columns: ~".big-left,.big-right,.lil-left,.lil-right";
@{columns}{
  margin-top: 30px;
  margin-bottom: 30px;
}
.button{
  font-size: 18px !important;
  display: inline-block;
  background-color: #04b;
  color: #fff;
  position: relative;
  top: 50px;
  border-radius: 5px;
  border: none;
  clear: both;
  vertical-align: middle;
  padding: 20px;
  // height: 70px;
  // line-height: 70px;
}
.button:hover{
  background-color: #ffb;
  color: #222;
}
.arrow{
  position: relative;
  vertical-align: middle;
  // height: 70px;
  // line-height: 70px;
  margin-left: 13px;
  font-size: 3em;
  padding-top: 2em;
  margin-top: 2.9em;
}
body{
  font-family: "GothamBook",sans-serif;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  font-kerning: normal;
  cursor: url(../images/cursor1x.png) 0 0,default;
  cursor: -webkit-image-set(url(../images/cursor1x.png) 1x,url(../images/cursor2x.png) 2x) 0 0,default;
}

// STYLE
// INTRO
.intro{
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.that{
  background-color: #FF00FF;
  display: none;
}
.switchIntro h3{
  color: #8822ff;
}
.switchIntro h1{
  color: #ffffff;
}
.switchIntro a{
  color: #8822ff;
}
.switchIntro a:hover{
  color: #0000ff;
}
// .heading{
//   clear: both;
//   text-align: center;
//   font-family: "LarishNeueSemibold-Regular";
//   font-size: 20em;
// }
.heading{
  display: none;
  clear: both;
  text-align: center;
  font-family: "LarishNeueSemibold-Regular";
  position: absolute;
  font-size: 100em;
  left: -.3em;
  opacity: 1;
  color:black;
  z-index: -1;
}
h1{
  font-family: "LarishNeueSemibold-Regular";
  margin: 0;
  position: relative;
  font-size: 4em;
  line-height: 1.5em;
}
h2{
  clear: both;
  font-family: "LarishNeueSemibold-Regular";
  margin: auto;
  position: relative;
  font-size: 4em;
  line-height: 1.3em;
  text-align: center;
  margin-bottom: 0.5em;
}
h3{
  margin: 0;
  position: relative;
  display: flex;
  height: 2em;
  font-size: 2em;
}
p{
  line-height: 1.5em;
  margin-bottom: 50px;
}
h4{
  line-height: 1.6em;
}
img{
  margin-bottom: 20px;
  // box-shadow: 0px 40px 120px #888888;
}
.youtube{
  // box-shadow: 0px 40px 120px #888888;
  cursor: url(../images/cursorHand1x.png) 0 0,default;
  cursor: -webkit-image-set(url(../images/cursorHand1x.png) 1x,url(../images/cursorHand2x.png) 2x) 0 0,default;
}
a {
  text-decoration: none;
  cursor: url(../images/cursorHand1x.png) 0 0,default;
  cursor: -webkit-image-set(url(../images/cursorHand1x.png) 1x,url(../images/cursorHand2x.png) 2x) 0 0,default;
}
p a{
  border-bottom: 1px solid;
  padding-bottom: 0.2em;
}

h1 a{
  border-bottom: 4px solid;
  padding-bottom: 0.05em;
}

// PROJECTS

.wrapper{
  position: relative;
  display:block;
  margin: auto;
  margin-top: 150px;
}
.alone{
  position: relative;
  display:block;
  margin: auto;
  margin-top: 150px;
}
.separator{
  width: 100%;
  height: 80px;
}
p{
  text-align: left;
  font-size: 1.2em;
}
h4{
  font-weight: normal;
  text-align: left;
  font-size: 1.9em;
  font-family: "LarishNeueSemibold-Regular";
  letter-spacing: 0.01em;

}
br{
  font-size:2.4em;
}
.subtitle{
  text-align: center;
}

.footer{
  color: red;
  position: relative;
  display: inline-block;
  width: 100vw;
  margin-top: 50vh;
  padding: 30vh 0 30vh 0;
  background-color: black;
}
