.rollmeover{
  position: absolute;
  visibility: visible;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  line-height: 100px;
  z-index: 10;
  font-family: "GothamBook";
  height: 100px;
  width: 250px;
  background-color: black;
  box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.5);
  top: 0; left: 0; bottom: 0; right: 0;
  margin: auto;
  transition: opacity .4s ease .4s;
}

.sequence:hover .rollmeover{
  opacity: 0;
}
/* div:hover .rollmeover{
  opacity: 0;
} */


@media (max-width: 730px){

  .rollmeover{
    visibility: hidden;
  }

}
